<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - FG_anime</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <h1>About Us</h1>
    </header>
    <main>
        <section>
            <h2>Our Mission</h2>
            <p>FG_anime is dedicated to providing anime fans with a seamless streaming experience. We bring the latest and greatest anime directly to you, using reliable third-party APIs.</p>
        </section>
        <section>
            <h2>What We Do</h2>
            <p>We do not store any content on our servers. Instead, we stream anime episodes using trusted third-party sources, ensuring that you have access to a wide range of anime series.</p>
        </section>
        <section>
            <h2>Our Vision</h2>
            <p>We strive to be the go-to platform for anime enthusiasts by offering high-quality streaming and a user-friendly interface.</p>
        </section>
        <section>
            <h2>Open Source</h2>
            <p>FG_anime is an open-source project. We believe in the power of community collaboration. You can view, contribute, and support the development of FG_anime on our <a href="https://github.com/furjac/FG_Anime" target="_blank">GitHub repository</a>.</p>
        </section>
    </main>
</body>

</html>
