<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ anime.title_romaji }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/details.css">
</head>

<body>
    <div class="details-container">
        <div class="anime-details">
            <div class="anime-poster">
                <img src="{{ anime.cover_image }}" alt="{{ anime.title_romaji }} poster">
            </div>
            <div class="anime-info">
                <h1>{{ anime.title_romaji }}</h1>
                <h2>{{ anime.title_english }}</h2>
                <h3>{{ anime.title_native }}</h3>
                <p><strong>Details:</strong> {{ anime.description | safe }}</p>
                <p><strong>Start Date:</strong> {{ anime.start_date }}</p>
                <p><strong>Status:</strong> {{ anime.status }}</p>
                <p><strong>Average Rating:</strong> {{ anime.average_score }}</p>
                <p><strong>Total Episodes:</strong> {{ anime.episodes }}</p>
                <a href="{{ url_for('anime', name=anime.title_romaji.lower().replace(' ', '-')) }}">
                    <button class="watch-now"
                        style="background-color: red; color: white; padding: 10px 20px; font-size: 1.2em;">Watch
                        Now</button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>
